@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    text-decoration: none;
}
body{
    background-color: #d9d9d9;
    scroll-behavior: auto;
    overflow: auto;
}

/*************main*************/
.main{
    position: fixed;
    width: 100%;
    height:100%;
    overflow-y:auto;
  }
  .main::-webkit-scrollbar{
    display: none;
  }
  
/*****************About section***************/
.About{
   width: 100%;
   height: 100vh;
   background-color: black;
}
.About h1{
    position: relative;
    color:#0cf1ac;
    text-align: center;
    line-height: 200px;
}

p{
    font-size: 25px;
    font-weight: bold;
    font-style:italic;
    font-family: 'Poppins' sans-serif;
    color: white;
    text-align: center;
}
.para p a{
    color:#0cf1ad;
}


@media only screen and (max-width:1054px){
    
    h4{
        font-size:20px !important;
    }
    h3{
        font-size: 23px !important;
    }
    .title h1{
        font-size: 40px !important;
    }
    label{
        font-size: 13px !important;
    }
}
@media only screen and (max-width:950px){
   label{
    font-size: 12px !important;
   }
}
@media only screen and (max-width:1062px){
     label{
        font-size: 13px !important;
     }
}
@media only screen and (max-width:1072px){
    label{
       font-size: 13px !important;
    }
}
@media only screen and (max-width:868px){
    label{
       font-size: 12px !important;
    }
}
@media only screen and (max-width:868px){
    label{
       font-size: 10px !important;
    }
}
@media only screen and (max-width:744px){
    label{
       font-size: 10px !important;
    }
}